<section class="section-article-list">
<h1 class="section-article-list__top-title">Your Articles Listing</h1>

  <div class="col-sm-12 text-right">
    <p> 
      <%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new article'.html_safe, new_article_path, class: "btn btn-info btn-sm"%>
    </p>
  </div>
  
  <div align="center">
      <%= will_paginate %>
  </div>
  <%= render 'article', obj: @articles %>
  <div align="center">
      <%= will_paginate %>
  </div>
  
</section>
