<h1 class="signup-top-title">Edit your account</h1>

<%= render 'shared/errors', obj: @user %>

<%= render 'form' %>

<div class="row">
  <div class="col-md-12">
    <div class="col-xs-12 col-xs-offset-5 bottom-link">
         [ <%= link_to "Sign up", signup_path %> ]
    </div>
  </div>
</div>
    
