<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  </head>
<body>
    <section class="section-jumbotron">
      <div class="jumbotron section-jumbotron__container">
        <h1 class="section-jumbotron__container-title">Alpha Blog</h1>
        <p class="section-jumbotron__container-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate veritatis ad, deleniti harum reprehenderit recusandae sapiente, assumenda quasi placeat</p>
        <p><%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg"%></p>
      </div>
    </section>
</body>
</html>