<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  </head>
<body>
  <%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %>
</body>
</html>